{% extends 'base.html' %}
{% block title %}logout{% endblock %}
{% block description %}logout{% endblock %}
{% block keywords %}logout{% endblock %}
{% block ogtitle %}logout{% endblock %}
{% block ogdescription %}logout{% endblock %}
{% block content %}
    <section class="py-65">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="card card-background">
                    <div class="p-4 text-center">
                        <div class="mb-3">
                            <i class="bi bi-emoji-wink display-1"></i>
                        </div>
                        <h5>Thank you for spending some quality time with the website today.</h5>
                        <h5>You have successfully logged out.</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}