{% extends "base.html" %}
{% block title %}The password has been changed successfully{% endblock %}
{% block description %}The password has been changed successfully{% endblock %}
{% block keywords %}The password has been changed successfully{% endblock %}
{% block ogtitle %}The password has been changed successfully{% endblock %}
{% block ogdescription %}The password has been changed successfully{% endblock %}
{% block content %}
    <section class="pass-change-done py-65">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="card card-background">
                    <div class="card-body p-5 text-center">
                        <div class="text-center mb-4">
                            <i class="bi bi-check2-circle display-1"></i>
                        </div>
                        <p>The password has been changed successfully!</p>
                        <a href="{% url 'logout' %}">
                            <button type="button" class="btn btn-primary btn-lg">Logout</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}