{% extends "base.html" %}
{% block title %}We have sent you an email{% endblock %}
{% block description %}We have sent you an email{% endblock %}
{% block keywords %}We have sent you an email{% endblock %}
{% block ogtitle %}We have sent you an email{% endblock %}
{% block ogdescription %}We have sent you an email{% endblock %}
{% block content %}
    <section class="pass-resset-done py-65">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="card card-background">
                    <div class="card-body p-5 text-center">
                        <div class="text-center mb-4">
                            <i class="bi bi-check2-circle display-1"></i>
                        </div>
                        <p class="text-center">
                            We have sent you an email. Follow the instructions to reset your password.
                            If you haven't received the email, check your spam folder, as sometimes it ends up there!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}