{% extends "base.html" %}
{% block title %}Request a new password{% endblock %}
{% block description %}Request a new password{% endblock %}
{% block keywords %}Request a new password{% endblock %}
{% block ogtitle %}Request a new password{% endblock %}
{% block ogdescription %}Request a new password{% endblock %}
{% block content %}
    <section class="pass-resset py-65">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="card card-background">
                    <div class="card-body p-5 text-center">
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                There is no guest already registered with the specified email address!
                                <button type="button" class="btn-close not-focusable" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <h5>Request a new password</h5>
                        <p class="mb-3">
                            Enter the email you used during registration, you will receive an email with instructions
                            for reset it.
                        </p>
                        <form method="post" action="{% url 'password_reset' %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="id_email" class="invisible">Email:</label>
                                <input type="email" name="email" class="form-control form-control-lg" maxlength="254"
                                       required="" id="id_email" placeholder="Enter your email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}