{% autoescape off %}
    By clicking on the link, the following screen will appear in which to enter the new password

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    the password reset links contained in these emails expire.
    If you click on the link and it doesn't work, try requesting a new one and use it as soon as possible.

    Wasn't it you who asked to set a new password?
    Please ignore this email.

    A greeting,
    The Staff of Calipso
{% endautoescape %}
