{% extends "base.html" %}
{% block title %}new password{% endblock %}
{% block description %}new password{% endblock %}
{% block keywords %}new password{% endblock %}
{% block ogtitle %}new password{% endblock %}
{% block ogdescription %}new password{% endblock %}
{% block content %}
    <section class="pass-resset-confirm py-65">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="card card-background">
                    <div class="card-body p-5 text-center">
                        {% if validlink %}
                            <h5>Password reset</h5>
                            <p>Enter the new password to access your Reserved Area.</p>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Passwords do not match. Try again!
                                    <button type="button" class="btn-close not-focusable" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <form method="post" autocomplete="off">
                                {% csrf_token %}
                                <div>
                                    <label for="id_new_password1" class="invisible">New Password:</label>
                                    <input type="password" name="new_password1"
                                           class="form-control form-control-lg mb-2"
                                           required="" id="id_new_password1" placeholder="Enter new password">
                                    {{ form.new_password1.help_text }}
                                </div>
                                <div class="mb-5">
                                    <label for="id_new_password2" class="invisible">Password confirmation:</label>
                                    <input type="password" name="new_password2" class="form-control form-control-lg"
                                           required="" id="id_new_password2" placeholder="Password confirmation">
                                    {{ form.new_password2.help_text }}
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg">Continua</button>
                            </form>
                        {% else %}
                            <div class="text-center mb-3">
                                <i class="bi bi-emoji-frown display-1"></i>
                            </div>
                            <p class="text-center">
                                The password reset link was invalid, probably because it already has used.
                                Please request a new password reset.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}