{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block description %}Change your password{% endblock %}
{% block keywords %}Change your password{% endblock %}
{% block ogtitle %}Change your password{% endblock %}
{% block ogdescription %}Change your password{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 mb-5">
            {% include 'accounts/dashboard/partial/sidebar_tab.html' %}
        </div>
        <div class="col-lg-8 text-white">
            <h2>Change your password</h2>
            <p class="mb-4">Manage your password settings and secure your account.</p>
            {% if next %}
                {% if user.is_authenticated %}
                    <p>
                        Your account doesn't have access to this page. To proceed, please login with an account that has
                        access.
                    </p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'password_change' %}" autocomplete="off">
                {% csrf_token %}
                <div>
                    <label for="id_old_password" class="invisible">Old Password:</label>
                    <input type="password" name="old_password" autofocus="" required=""
                           class="form-control form-control-lg"
                           placeholder="Old Password:" id="id_old_password">
                    <div class="text-danger">{{ form.old_password.errors }}</div>
                </div>
                <div>
                    <label for="id_new_password1" class="invisible">New Password:</label>
                    <input type="password" name="new_password1" class="form-control form-control-lg mb-2" required=""
                           id="id_new_password1"
                           placeholder="New Password:">
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                    {{ form.new_password1.help_text }}
                </div>
                <div class="mb-5">
                    <label for="id_new_password2" class="invisible">Confirm new password:</label>
                    <input type="password" name="new_password2" class="form-control form-control-lg" required=""
                           id="id_new_password2"
                           placeholder="Confirm new password:">
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Update password</button>
            </form>
        </div>
    </div>
    <!-- Card -->
{% endblock %}