{% extends 'base.html' %}
{% block title %}link invalid{% endblock %}
{% block description %}link invalid{% endblock %}
{% block keywords %}link invalid{% endblock %}
{% block ogtitle %}link invalid{% endblock %}
{% block ogdescription %}link invalid{% endblock %}
{% block content %}
    <section class="msg-activation-fail py-65">
        <div class="row">
            <div class="card card-background w-50 mx-auto">
                <div class="card-body p-5 text-center">
                    <h5>
                        The confirmation link is invalid, probably because it has already been used.
                    </h5>
                    <div>
                        <i class="bi bi-emoji-frown display-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}