<li class="list-inline-item list-mr-02">
    <i class="bi bi-star{% if rating < 0.5 and rating != 0 %}-half{% elif rating > 0.5 %}-fill{% endif %} text-warning"></i>
</li>
<li class="list-inline-item list-mr-02">
    <i class="bi bi-star{% if rating > 1 and rating <= 1.5 %}-half{% elif rating > 1.5 %}-fill{% endif %} text-warning"></i>
</li>
<li class="list-inline-item list-mr-02">
    <i class="bi bi-star{% if rating > 2 and rating <= 2.5 %}-half{% elif rating > 2.5 %}-fill{% endif %} text-warning"></i>
</li>
<li class="list-inline-item list-mr-016">
    <i class="bi bi-star{% if rating > 3 and rating <= 3.5 %}-half{% elif rating > 3.5 %}-fill{% endif %} text-warning"></i>
<li class="list-inline-item list-mr-02">
    <i class="bi bi-star{% if rating > 4 and rating <= 4.5 %}-half{% elif rating > 4.5 %}-fill{% endif %} text-warning"></i>
</li>