{% extends 'base.html' %}
{% block title %}Cookies{% endblock %}
{% block description %}Cookies{% endblock %}
{% block keywords %}Cookies{% endblock %}
{% block ogtitle %}Cookies{% endblock %}
{% block ogdescription %}Cookies{% endblock %}
{% block content %}
    <div class="row text-white">
        <h2>Place your ad in minutes</h2>
        <p class="mb-5">Sell online what you no longer use and start earning</p>
        {% for category in categories %}
            <div class="col-md-6 col-lg-3">
                <div class="card border-0 {{ category.bg_class_name }} mb-5">
                    <div class="card-header border-0 text-uppercase text-white fw-bold">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class="p-1">
                                <i class="{{ category.icon }} fs-2"></i>
                            </div>
                            <div class="p-2 fs-4" style="letter-spacing: 2px;">{{ category.name|capfirst }}</div>
                        </div>
                    </div>
                    <div class="card-body mx-auto">
                        <div class="dropdown dropdown-center">
                            <button class="btn btn-white border-0" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-patch-plus-fill display-6 text-white"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                {% for sub in category.category_in_sub.all %}
                                    <li>
                                        {% if sub.active_form_auto %}
                                            <a class="dropdown-item"
                                               href="{% url 'engines:add_announcement_auto' sub.category.id sub.id %}">{{ sub.name }}</a>
                                        {% elif sub.active_form_moto %}
                                            <a class="dropdown-item"
                                               href="{% url 'engines:add_announcement_moto' sub.category.id sub.id %}">{{ sub.name }}</a>
                                        {% elif sub.active_form_jobs %}
                                            <a class="dropdown-item"
                                               href="{% url 'jobs:add_announcement_job' sub.category.id sub.id %}">{{ sub.name }}</a>
                                        {% elif sub.active_form_apartments %}
                                            <a class="dropdown-item"
                                               href="{% url 'property:add_announcement_apartments' sub.category.id sub.id %}">{{ sub.name }}</a>
                                        {% elif sub.active_form_properties %}
                                            <a class="dropdown-item"
                                               href="{% url 'property:add_announcement_property' sub.category.id sub.id %}">{{ sub.name }}</a>
                                        {% elif sub.active_form_standard %}
                                            <a class="dropdown-item"
                                               href="{% url 'ads:add_standard_announcement' sub.category.id sub.id %}">{{ sub.name }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}