{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card card-background">
                <!-- card header  -->
                <div class="card-header card-background bg-white py-4">
                    <h4 class="mb-0">Add Images to {{ announcement.title }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <form action="{% url 'ads:add_image_announcement' announcement.id %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success">Upload</button>
                                <a href="{% url 'accounts:update_profile' %}" class="btn btn-orange text-white">
                                    Finish
                                </a>
                            </form>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                {% for image in announcement.announcement_images.all %}
                                    <div class="col-3">
                                        {% if image.image %}
                                            <figure class="figure">
                                                <img src="{{ image.image.url }}" class="rounded mb-2" alt="..."
                                                     width="150" height="150">
                                                <figcaption class="figure-caption text-center text-white">
                                                    {% if image.is_active %}Published{% else %}Unpublished{% endif %}
                                                </figcaption>
                                            </figure>
                                        {% endif %}
                                        <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                                            <div class="me-2">
                                                <a href="{% url 'ads:modify_image_announcement' image.id %}"
                                                   class="btn btn-warning btn-sm">
                                                    Modify
                                                </a>
                                            </div>
                                            <div>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary btn-sm"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal-{{ image.id }}">
                                                    Delete
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal-{{ image.id }}" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel-{{ image.id }}"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content card-background">
                                                            <div class="modal-header border-color-cs">
                                                                <h1 class="modal-title fs-5"
                                                                    id="exampleModalLabel-{{ image.id }}">
                                                                    Are you sure you want to delete this image?
                                                                </h1>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                A deleted object cannot be recovered.
                                                            </div>
                                                            <div class="modal-footer border-color-cs">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <form method="post"
                                                                      action="{% url 'ads:delete_image_announcement' image.id %}">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Yes
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}