{% load static %}
<footer class="pt-5 container">
    <div class="row">
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-6">
            <h5 class="text-white">Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
            </ul>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-6">
            <h5 class="text-white">Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
            </ul>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-6">
            <h5 class="text-white">Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
            </ul>
        </div>
        <div class="col-6">
            <div class="d-flex flex-column">
                <div class="flex-shrink-0 text-white fs-4">
                    <i class="bi bi-h-circle"></i> Kalipso
                </div>
                <div class="flex-grow-1 ms-3 text-white">
                    Classified Ads is a platform for online buying/selling of goods and services for both individuals
                    and businesses.
                    Free classified ads for cars, jobs, real estate, and everything else.
                    Find what you are looking for or create your own ad for free!
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-4 mt-2 border-top">
        <p class="text-white">© 2021 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-light-" href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
    </div>
</footer>